PORT=8000
CORS_ORIGIN=*
MONGODB_URI=your_mongodb_uri
ACCESS_TOKEN_SECRET=access_token
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=refresh_token
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=*
CLOUDINARY_API_KEY=*
CLOUDINARY_API_SECRET=*